
body {
    margin: 0;
    font-family: sans-serif;
    background: #454;
    color: #e0e0e0;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-family: 'Dancing Script',sans-serif;
    font-size: 400%;
    color: #fff;
    background: #686;
    padding: 8px;
}

#topMenu {
    background: #575;
    text-align: right;
    padding: 8px;
}

.menuLink {
    padding: 8px;
}
.menuLink.hover {
    background: #343;
}

.footer {
    padding: 16px;
}

#holder {
    background: url("preview_bak1.png");
    background-clip: padding-box;
    border: 8px dashed #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
    min-height: 240px;
    text-align: center;
    vertical-align: middle;
    display: flex;
}
#holder.hover {
    border: 8px dashed #333;
}

#drophint {
    font-family: 'Dancing Script',sans-serif;
    padding-top: 84px;
    width: 100%;
    font-size: 300%;
    font-weight: bold;
    color: #aaa;
    text-align: center;
}

.centered {
    margin: auto;
    text-align: center;
}

.hidden {
    display: none;
}

.topcontainer {
    margin: 16px;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
}

.status {
    font-weight: bold;
    background: rgba(255, 255, 128, 0.4);
    border-radius: 4px;
    margin: 16px;
    padding: 16px;
}

.previewcontainer {
    padding: 8px;
}

.buttonLink {
    padding: 8px;
    color: #fff;
    background: #678;
    border-radius: 3px;
}

.buttonLink a {
    font-weight: normal;
}

.browseButton {
    background: #68e;
}

.previewImage {
    max-width: 400px;
    max-height: 300px;
    vertical-align: middle;
}

.basicinfo {
    background: #f4f4f4;
    color: #444;
    border-radius: 4px;
    margin: 16px;
    padding: 16px;
}
.basicinfo a {
    color: #355;
    text-decoration: underline;
}

.detailedinfo {
    background: #f4f4f4;
    color: #444;
    border-radius: 4px;
    font-family: monospace;
    margin: 16px;
    padding: 16px;
}
.detailedinfo a {
    color: #355;
    text-decoration: underline;
}

.infoKey {
    font-weight: bold;
}

.detailKey {
    color: #444;
    font-size: 120%;
}

.detailValue {
    font-weight: bold;
    font-size: 120%;
}
